<div class="container">
<h2>Student Registration</h2>

<input class="form-control" type="text" [(ngModel)]="name"> 
<button class="btn btn-primary" (click)= "register()">Register</button>
<br>

<ol>
    <li *ngFor="let name of names;let i=index">{{ name }}
        <button class="btn btn-danger" (click)= "deleteEach(i)" >delete</button>
    </li>
</ol>
<button class="btn btn-danger"(click)="delete()"> delete</button>
<button class="btn btn-danger"(click)="deleteAll()">delete all</button>
<button class="btn btn-success"(click)="reverse()">Reverse</button>

</div>