<div class="parent">
  <div class="child1">
     <h4 routerLink="home">Home</h4>
     <h4 routerLink="databinding">data binding</h4>
     <h4 routerLink="eventbinding">event binding</h4>
     <h4 routerLink="twowaybinding">twoway binding</h4>
     <h4 routerLink="calculator">Calculator</h4>
     <h4 routerLink="square">Square</h4>
     <h4 routerLink="rectangilar">rectangilar</h4>
     <h4 routerLink="eventregistration">Event registration</h4>
     <h4 routerLink="studentregistration">Student Registration</h4>
     <h4 routerLink="cart">Card</h4>
     <h4 routerLink="employee">Employee</h4>
     <h4 routerLink="pipes">Pipes</h4>
     <h4 routerLink="cars">Cars</h4>
     <h4 routerLink="hospital">Hospital</h4>
     <h4 routerLink="gpay">Gpay</h4>
     <h4 routerLink="vehicle">Vehicle</h4>
     <h4 routerLink="accounts">accounts</h4>
     <h4 routerLink="item">Item</h4>
     <h4 routerLink="post">Post</h4>
     <h4 routerLink="mail">Mail</h4>
     <h4 routerLink="person">Person</h4>
     <h4 routerLink="activity">Activity</h4>
     <h4 routerLink="applicationform">Applicationform</h4>
     <h4 routerLink="create-vehicle">create-vehicle</h4>
     <h4 routerLink="createuser">Create-user</h4>
     <h4 routerLink="createstudent">Create-Student</h4>
     <h4 routerLink="parent">Parent</h4>
     <h4 routerLink="product">Product</h4>
     <h4 routerLink="cartlist">Cartlist</h4>
     <h4 routerLink="nav">Nav</h4>
     <button (click)= "logout()" class="Logout">Logout</button> 

    
  </div>
      <div class="child2">
        <router-outlet></router-outlet>
      </div>

