<div class="container">
<h3>Student Details</h3>
<br>
<form [formGroup]="studentForm">

<label >Name:</label>
<input type="text" FormControlName="name">

<div class="error" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.invalid">
    <p *ngIf="studentForm.get('name')?.errors?.['required']" >Name is required</p>
    <p *ngIf="studentForm.get('name')?.errors?.['minlength']" >Minimun 3 chars required</p>
    <p *ngIf="studentForm.get('name')?.errors?.['maxlength']" >Maximum 10 chars allowed</p>
  </div>

<br>
<label>Roll No:</label>
<input type="number" FormControlName="rollno">
<div class="error" *ngIf="studentForm.get('rollno')?.touched && studentForm.get('rollno')?.invalid">
    <p *ngIf="studentForm.get('rollno')?.errors?.['required']" > Roll number is required</p>
    <p *ngIf="studentForm.get('rollno')?.errors?.['min']" >Minimun 1 required</p>
    <p *ngIf="studentForm.get('rollno')?.errors?.['max']" >Maximum 100 numbers allowed</p>
  </div>
<br>
<label>Age:</label>
<input type="number" FormControlName="age">
<div class="error" *ngIf="studentForm.get('age')?.touched && studentForm.get('age')?.invalid">
    <p *ngIf="studentForm.get('age')?.errors?.['required']" > Age is required</p>
    <p *ngIf="studentForm.get('age')?.errors?.['min']" >Minimun 0 required</p>
    <p *ngIf="studentForm.get('age')?.errors?.['max']" >Maximum 120 allowed</p>
  </div>
<br>
<label>Phone:</label>
<input type="number" FormControlName="phone">
<div class="error" *ngIf="studentForm.get('phone')?. touched && studentForm.get('phone')?.invalid">
    <p *ngIf="studentForm.get('phone')?.errors?.['required']" > Phonenumber is required</p>
    <p *ngIf="studentForm.get('phone')?.errors?.['min']" >Minimun 1 required</p>
    <p *ngIf="studentForm.get('phone')?.errors?.['max']" >Maximum 100 numbers allowed</p>
  </div>
<br>
<div formGroupName="address">
<label >State:</label>
<input type="text" FormControlName="state">
<br><br>
<label >Pincode:</label>
<input type="text" FormControlName="pincode">
<div class="error" *ngIf="studentForm.get('address')?.get('pincode')?. touched && studentForm.get('address')?.get('pincode')?.invalid" >
    <p *ngIf="studentForm.get('address')?.get('pincode')?.errors?.['required']" > Pincode is required</p>
    <p *ngIf="studentForm.get('address')?.get('pincode')?.errors?.['min']" >Pin should Minimun 6 required</p>
    <p *ngIf="studentForm.get('address')?.get('pincode')?.errors?.['max']" >Pin should Maximum 6 numbers allowed</p>
  </div>

<br><br>
</div>

<button class="btn btn-success" (click)="add()"> Hostel</button>
<button  class="btn btn-warning"(click)="add2()">Day Scholar</button>
<br>
   <div formArrayName="hostels">
    <div *ngFor="let hostel of hostelsFormArray.controls ,let i=index">
        <div formGroupName="{{i}}">
<br>
<label>Hostel-Fees:</label>
    <input type="text" formControlName="Hostelfees">
<br>   
      <button class="btn btn-danger" (click)="remove(i)">Remove</button>
        </div>
    </div>
   </div>
  
   <div formArrayName="dayscholars">
    <div *ngFor="let dayscholar of dayscholarsFormArray.controls ,let i=index">
        <div formGroupName="{{i}}">
            
<label>Bus Fees:</label>
    <input type="text" formControlName="busfees">
    <br>
    
    <button class="btn btn-danger" (click)="remove(i)">Remove</button>
   </div>
   </div>
   </div>
<br>
<label>Payment type:-</label>

<input type="radio" name="payment" value="upi" formControlName="paymentType">
<label>UPI Payment:</label>

<input type="radio" name="payment" value="card" formControlName="paymentType">
<label>Card Payment:</label>
<br>

<div *ngIf="studentForm.get('paymentType')?.value=='upi' ">
<label>UPI Id:</label>
<input type="text" formControlName="upiId">
</div>
<br>  
<div *ngIf="studentForm.get('paymentType')?.value=='card' ">
    <label>Card No:</label>
<input type="text" formControlName="cardNo">
<br>
<label>Expiry:</label>
    <input type="month" formControlName="expiry">
<br>
<label>Cvv:</label>
    <input type="Password" formControlName="cvv">
</div>
 <button class="btn btn-primary" (click)="submit()">Submit</button>
</form>
</div>