
<div class="topnav">
 <h3>Student Application-Form</h3>
 <br>
 <label>Firstname:</label>
 <input type="text" [(ngModel)]="firstname">
 <br>
 <label>Lastname(surname):</label>
 <input type="text" [(ngModel)]="lastname">
 <br>
 <label>Gender:</label><br>

 <input type="radio" id="male" name="gender" value="Male">
 <label for="male">Male</label>
 <br>
<input type="radio" id="female" name="gender" value="Female">
<label for="female">Female</label> 
<br>
<label>Age:</label>
 <input type="number" [(ngModel)]="age">
<br><br>
 <label>Mobile:</label>
 <input type="number" [(ngModel)]="mobile">
 <br><br>
 <label>Email:</label>
 <input type="text" [(ngModel)]="email">
 <br><br>
 <label>Batch:</label>
 <input type="number" [(ngModel)]="batch">
 <br><br>
 <label>Address:</label>
 <input type="text" [(ngModel)]="address">
 <br><br>
 <label>Education:</label>
 <input type="text" [(ngModel)]="education">
 <br><br>
 <button class="btn btn-success" (click)="add()">Register</button>
<br>
<br>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Firstame:</th>
            <th>Lastname</th>
            <th>Gender:</th>
            <th>Age:</th>
            <th>Mobile:</th>
            <th>Email:</th>
            <th>Batch:</th>
            <th>Address:</th>
            <th>Education:</th>
            <th> Actions:</th>
        </tr>
    </thead>
 <tbody>
    <tr *ngFor="let student of students,let i=index">
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.age |age }}</td> 
        <td>{{ student.mobile }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.batch }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.education}}</td>
        <td><button class="btn btn-danger"(click)="delete(i)">Delete</button></td>
     </tr>
 </tbody>
</table>
</div>


