
<input type="text" [(ngModel)]="filterTerm">
<button class="btn btn-primary" (click)="filter()">filter</button>
<select [(ngModel)]="column">

    <option>createdAt:</option>
    <option>Account Name:</option>
    <option>Available Balance:</option>
    <option>Account number:</option>
    <option>Currency :</option>
    <option>User Image:</option>

 </select>

<select [(ngModel)]="order">
  <option>asc</option>
  <option>desc</option>
</select>

 <button class="btn btn-success" (click)="sort()">Sort</button>

<table class="table">
    <thead>
        <tr>
            <th>createdAt:</th>
            <th>Account Name:</th>
            <th>Available Balance:</th>
            <th>Account number:</th>
            <th>Currency :</th>
            <th>User Image:</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let account of Accounts">
            <td>{{ account.createdAt }}</td>
            <td>{{ account.account_name }}</td>
            <td>{{ account.available_balance }}</td>
            <td>{{ account.account_number }}</td>
            <td>{{ account.currency }}</td>
            <td><img src="{{account.user_image}}"></td>

            

        </tr>
    </tbody>
</table>

